<html>
<head>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.moblie-1.4.0.min.css"/> 
    <script scr="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/moblie/1.4.0/jquery.mobile-1.4.0.min.js"></script>
<script>
$(

function()
{
$('#flip').change(function()
{

$.getJSON('/_led',(state:$('#flip').val()));
-});
-});

</script>
<div><h3>NodeMcu Toggle LED</h3></div>
    <form>
    <select name="flip" id="flip" data-role="slider" style="float:left;">
        <option value="off"> off</option>
        <option value="on"> on</option>
    </select>select
    <form>
<div><h3>This toggles LED</h3></div>

</html>
 
