<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>Document</title>
</head>
<script>
$(function() {
    $("#flip-select").change(function(){
        $.getJSON("/_led", {state: $("#flip-select").val()});
                    });
});
</script>
<body>
<form>
        <label for="flip-select">Flip toggle switch select:</label>
        <select id="flip-select" name="flip-select" data-role="flipswitch">
            <option value="off">Off</option>
            <option value="on">On</option>
        </select>
        <label for="flip-select2">Flip toggle switch select:</label>
        <select id="flip-select2" name="flip-select2" data-role="flipswitch">
            <option value="off">Off</option>
            <option value="on">On</option>
        </select>    
</form>   
</body>
</html>