<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="input" action="/" method="post">
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td>Living Room</td>
                  <td>
                      <div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-info">
                          <label>
                              <input name="spkrs-00" type="checkbox" onclick="this.form.submit()" checked><span></span>
                            </label>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>Kitchen</td>
                  <td>
                      <div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-info">
                          <label>
                              <input name="spkrs-01" type="checkbox" onclick="this.form.submit()"><span></span>
                          </label>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>Dining Room</td>
                  <td>
                      <div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-info">
                          <label>
                              <input name="spkrs-02" type="checkbox" onclick="this.form.submit()"><span></span>
                          </label>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>Unconnected</td>
                  <td>
                      <div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-info">
                          <label>
                              <input name="spkrs-03" type="checkbox" onclick="this.form.submit()" disabled><span></span>
                          </label>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>Protection</td>
                  <td>
                      <div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-warning">
                          <label>
                              <input name="protection" type="checkbox" onclick="this.form.submit()"><span></span>
                          </label>
                      </div>
                  </td>
                </tr>

                </tbody>
            </table>
          </div>
</body>
</html>