{% extends "layout.htm" %}

{% block content %}

<div class="container my-2">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name() }}
        <br>
        {{ form.isAccept() }}{{ form.isAccept.label }}

        <br>
        {{ form.submit }}

    </form>
    <hr>
    {% if name %}
        Name is <strong>{{ name }}</strong>
        <br>
        Missing? <strong>{{ isAccept }}</strong>
    {% else %}
        Missing
    {% endif %}
</div>


{% endblock %}
    